.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.product-img {
  width: 100%;
}

.product-img:hover {
  transform: scale(1.05);
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-content {
  float: left;
}

.search-area {
  padding-top: 5px;
}

.search-area input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  outline: none;
}

.login-button svg {
  padding-top: 4px;
  padding-right: 5px;
}

.product-detail-img {
  display: flex;
  justify-content: flex-end;
}

.select-box {
  border-radius: 5px;
}

.select-box:hover {
  background-color: black;
  color: white;
}
