.img-logo {
  justify-content: center;
  display: flex;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
}

.login-button svg {
  margin-right: 10px;
  margin-top: 3px;
}

.menu-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.menu-list li {
  padding: 14px;
  cursor: pointer;
  font-size: 18px;
}

.menu-area {
  justify-content: space-between;
  display: flex;
}

.search-area {
  align-content: center;
  display: flex;
  padding-top: 7px;
}

.search-area svg {
  margin-right: 10px;
  margin-top: 12px;
}

.search-area input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1.5px solid #353535;
  background: none;
  width: 100%;
  border-radius: 0;
  padding: 0 0 0 5px;
  line-height: 35px;
  height: 35px;
  outline: none;
}

.product-detail {
  display: flex;
  justify-content: center;
}

.col-lg-3 :hover {
  transform: scale(1.02);
}
.card-wrap {
  margin-bottom: 15px;
  font-size: 16px;
}
.card-wrap img {
  width: 100%;
}

.login-button {
  cursor: pointer;
}

.login-wrap {
  width: 700px;
}

.img-logo {
  cursor: pointer;
}

.card-content {
  line-height: 1.8;
}

/** 푸터 **/
footer {
  border-top: 1px solid #e4e4e4;
  background-color: #f8f9fa;
  padding: 1rem 0;
  margin: 1rem 0;
  justify-content: center;
  display: flex;
}

.footer-copyright {
  font-size: 0.9rem;
  color: #545e6f;
  margin: 0.6rem;
}

/** 전체 페이지 **/
.wrapper {
  height: 100vh;
}

.my-shop-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  cursor: pointer;
}

.product-img {
  width: 450px;
}

.product-img-wrap {
  display: flex;
  justify-content: flex-end;
}

.product-title {
  font-size: 20px;
}

.product-price {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
