.img-logo {
  justify-content: center;
  display: flex;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
}

.login-button svg {
  margin-right: 10px;
  margin-top: 3px;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  justify-content: space-between;
  display: flex;
}

.search-area {
  align-content: center;
  margin: 25px;
  display: flex;
}

.search-area svg {
  margin-right: 10px;
  margin-top: 5px;
}

.search-area input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1.5px solid #353535;
  background: none;
  width: 100%;
  border-radius: 0;
  padding: 0 0 0 5px;
  line-height: 35px;
  height: 35px;
}

.product-detail {
  display: flex;
  justify-content: center;
}

.card-wrap :hover {
  transform: scale(1.05);
}

.card-wrap img {
  width: 100%;
}

.login-button {
  cursor: pointer;
}

.img-logo {
  cursor: pointer;
}
